*.pyc
*.mp4
*.pt
*.wav
*.tar.gz
logs
tmp/
tmp.py
tmp.sh
tmp*.sh

data/vggsound/feature_flow_bninception_dim1024_21.5fps
data/vggsound/feature_rgb_bninception_dim1024_21.5fps
data/vggsound/melspec_10s_22050hz
data/vggsound/categories
*.html
data/greatesthit/greatesthit_orig
data/greatesthit/greatesthit_processed
data/greatesthit/melspec_10s_22050hz
data/greatesthit/feature_r2plus1d_dim1024_15fps
data/greatesthit/greatesthit-process-resized
data/AMT_test
data/AMT_test_8s
data/Youtube-Impact
data/audioset
data/ImpactSet
style_transfer/.ipynb_checkpoints

specvqgan/onset_baseline/.ipynb_checkpoints
specvqgan/onset_baseline/checkpoints
specvqgan/onset_baseline/CondAVTransformer_VNet_randshift_2s_GH_vqgan
specvqgan/onset_baseline/CondAVTransformer_VNet_randshift_2s_replace_multiple_cond_re_shuffle
specvqgan/onset_baseline/CondAVTransformer_VNet_CXAV_2s_denoise_onset_samecls_selected
specvqgan/onset_baseline/CondAVTransformer_VNet_CXAV_2s_denoise_AST_predicted_75_percent_samecls
specvqgan/onset_baseline/data/greatesthit_processed
specvqgan/onset_baseline/results
specvqgan/onset_baseline/demo-data