/*body {
    margin: 1em;
    padding: 0;
    font-family: Google Sans, Noto, Roboto, Helvetica Neue, sans-serif;
    color: #244376;

    text-align: center;
}*/

.container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}


#card {
    margin: 3em auto;
    display: flex;
    /* flex-direction: column; */
    /* width: 600px; */
    border-radius: 6px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

model-viewer {
    width: 100%;
    height: 240px;
    /* background-color: rgba(255, 255, 255, 0.856); */
    /* background-color: rgba(180, 180, 180, 0.507); */
    background-color: #f0f0f0;
}

.attribution {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1em;
}

.attribution h1 {
    margin: 0 0 0.25em;
}

.attribution img {
    opacity: 0.5;
    height: 2em;
}

.attribution .cc {
    flex-shrink: 0;
    text-decoration: none;
}

footer {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
    text-align: center;
    font-style: italic;
    line-height: 1.5em;
}

.row {
    flex-direction: row;
}

.column {
    display: table-cell;
    flex-direction: column;
    vertical-align: middle;
    /* width: 25%; */
    padding-right: 10px;
    /*
    float: left;
    margin:3px;
    width: 25%; */

}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    /* clear: both; */
}
.block {
    display: block;
    width: 25%;
    border: none;
    background-color: #4CAF50;
    color: white;
    padding: 14px 28px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
}

.block:hover {
    background-color: #ddd;
    color: black;
}

/*table, th, td {
border: 1px solid black;
font-size: 24px;
}*/

.header {
    font-size: 24px;
    text-align: center;
}

.header-input {
    width: 208px;
}

.header-result {
    width: 306px;
}

.column {
    width: 24%;
}

.input-img {
    /*height: 120px;
    width: 160px;
    max-width: 320px;
    width: 100%;*/
    width: 200px;
}

#card {
    /*height: 120px;
    width: 160px;*/
    border: 3px grey dashed;
    width: 300px;
    height: 225px;
    margin-top: 15px;
    margin-bottom: 15px;
}


.view1 {
    border:4px solid #b46dc6;
}


.view2 {
    border:4px solid #5fcbe0;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    }
    
    /* Next & previous buttons */
    .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: rgb(70, 66, 66);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    }
    
    /* Position the "next button" to the right */
    .next {
    right: 0;
    border-radius: 3px 0 0 3px;
    }
    
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    }
    
    /* Caption text */
    .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    }
    
    /* Number text (1/3 etc) */
    .numbertext {
    color: #3a3939;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    }
    
    
    /* The dots/bullets/indicators */
    .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    }
    
    .active, .dot:hover {
    background-color: #717171;
    }
    
    /* Fading animation */
    /* .fade { */
    /*   -webkit-animation-name: fade; */
    /*   -webkit-animation-duration: 1s; */
    /*   animation-name: fade; */
    /*   animation-duration: 1s; */
    /* } */
    
    /* no fade */
    .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 0s;
    animation-name: fade;
    animation-duration: 0s;
    }
    
    .vstackimg img {
    display: block;
    }
    @-webkit-keyframes fade {
    from {opacity: 0.8} 
    to {opacity: 1}
    }
    
    @keyframes fade {
    from {opacity: 0.8} 
    to {opacity: 1}
    }
    
    /* On smaller screens, decrease text size */
    @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
    }